<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ receita.nome }}</title>
</head>
<body>
    <h1>{{ receita.nome }}</h1>
    <div><b>Ingredientes:</b> {{ receita.ingredientes|linebreaks }}</div>
    <br><br>
    <div><b>Modo de Preparo:</b> {{ receita.modo_de_preparo|linebreaks }}</div>
    <br><br>
    <div><b>Grau de Dificuldade:</b> {{ receita.grau_de_dificuldade }}</div>
    <br><br>
</body>
</html>